<html>
<head>
<title>Login Page</title>
</head>
<body>
<center>
<form action=""method="POST"style="Margin-top:150px;Margin-bottom:100px;padding-left:500px;padding-right:500px;">
<fieldset style="background-image:linear-gradient(blue,grey,blue)">
<h2>Login Here </h2>
<table cellspacing=25,cellpadding=25>
<tr>
 	<td>Username</td>
        <td><input type="text" name="Username"></td>
</tr>
<tr>
	<td>Password</td>
	<td><input type="password" name="password"></td>
</tr>
<tr>
<td colspan=2><input type="submit"name="submit" value="Login" 
style="width:350px;padding:5px;font-size:15px">
</td>
</tr>
</table>
<p>
{%if error%}
{{error}}
{%endif%}
</p>
</fieldset>
</form>
</center>
</body>
</html>
